/* Color Scheme */
:root {
    --light-bg: #fff;
    --dark-bg: #1c1c1c;
  
    --dark-text: #1c1c1c;
    --light-text: #fff;
    --link-text: #1351D8;
  
    --primary-color: #192F60;
    --secondary-color: #F3F6FD;

      --base-clr: #192F60;
  --line-clr: #42434a;
  --hover-clr: #1c1c1c;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  }
  
  /* Normalize CSS (Reset) */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: var(--light-bg);
    color: var(--dark-text);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    /* line-height: 1.6;*/
    overflow-x: hidden; 
  }
  
  ul,
  ol {
    list-style: none;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .rounded-br {
    border-radius: 8px;
  }
  
  /* Flexbox Layout */
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
  
  /* Typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    font-family: "Playfair Display";
    letter-spacing: 0.56px;
  }
  
  p {
    letter-spacing: 0.32px;
    font-weight: 500;
  }
  .page-wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .ism-footer-copyright {
    text-align: center;
    background:#192f60;
    padding: 0.35rem;
    color: #fff;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: #192f60;
    content: var(--bs-breadcrumb-divider, ">");
    font-weight: 600;
}
.breadcrumb-item a {
    color: rgba(25, 47, 96, 0.70);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.32px;
}
.breadcrumb-item.active>a{
    color: #192f60 !important; 
}
.form-label{
  font-size: 1rem;
  letter-spacing: 0.32px;
  font-weight: 500;
  color: #192F61;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(25, 47, 96, 0.70);
  background-color: #f3f6fd;
  background-clip: padding-box;
  border: 2px solid rgba(25, 47, 96, 0.10);
  border-radius: 4px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  height: 2.75rem;
}
.themeCrm-btn-light{
  padding: 10px 28px;
  border-radius: 100px;
  background: #fff;
  color: #192F60;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  border: 2px solid #192F60;
  height: 45px;
}
.themeCrm-btn-dark{
  padding: 10px 28px;
  border-radius: 100px;
  background: #1351D8;
  color: #FFF;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  border: 2px solid #fff;
  height: 45px;
}

/* For small devices */
@media screen and (max-width: 546px) {
  .ism-v3-header__topBar{
    display: none;
  }
  .meity, .dic{
    display: none;
  }
}